$white-color: white;
$black-color: black;

$background-button-color: #3456e5;
$hover-button-color: #7a40c6;
$radial-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);